<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visual Mark for DIV container - ViewHtml</title>
    <link rel="stylesheet" href="./block.css">
    <link rel="stylesheet" href="./block-col.css">
    <link rel="stylesheet" href="./block-shine.css">
    <link rel="stylesheet" href="./block-blind.css">
</head>
<style>
    body {
        margin: 0;
        padding: 0;
        height: 100vh;
        background-color: #666;
        display: flex;
        justify-content: center;
        align-items: center;

        display: flex;
        flex-wrap: wrap;
    }
</style>

<body>

    <div class="block block--shine"></div>

    <div class="block__col">
        <div class="block"></div>
        <div class="block"></div>
    </div>

    <div class="block__col">
        <div class="block"></div>
        <div class="block block--shine"></div>
        <div class="block"></div>
    </div>

    <div class="block"></div>
    <div class="block"></div>
    <div class="block block--shine"></div>


    <div class="block__col">
        <div class="block block--shine"></div>
        <div class="block"></div>
        <div class="block block--shine"></div>
    </div>

    <div class="block  block--blind block--shine">
        <div class="block"></div>
    </div>

    <div class="block"></div>
    <div class="block__col">
        <div class="block block--shine"></div>
        <div class="block"></div>
        <div class="block block--blind"></div>
        <div class="block"></div>
        <div class="block block--shine"></div>
    </div>
    <div class="block"></div>







    <!-- <img class="block__shine" src="./Screenshot_.png" alt=""> -->




</body>


</html>