/* Zero Reset */
.zero__out-space {
    margin: 0;
    padding: 0;
}

/* CSS Variables */
:root {
    --font_regular: 'Montserrat', sans-serif;
    --font_unique: 'Poppins', sans-serif;

    --color-accent: #4eac9a;
    /* --color_black: ; */
    --color_dark: #161616;
    --color_white: #fefefe;
    /* --color_middle: #b4b4b4; */
    --color_page: var(--color_white);

    --one: 1rem;
    --oneHalf: calc(var(--one) * 0.5);
    --oneQuart: calc(var(--one) * 0.25);
    --oneFifth: calc(var(--one) * 0.2);
    --oneTenth: calc(var(--one) * 0.1);
    --zeroOne: calc(var(--one) - var(--oneTenth));
    --zeroSeventyFive: calc(var(--one) - var(--oneQuart));

    --page--width: 533px;
    --page--height: 394px;
    --page--font: var(--font_regular);

    --logo__text--font: var(--font_unique);
}

/* Page -----------------------*/
.page {
    font-family: var(--page--font);
    color: var(--color_dark);
    background-color: var(--color_page);
}

.page__row {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1800px;
}

/* Header -----------------------*/


/* Navigation */
.navigation__list {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0 18px;
    /* justify-content: right; */
}

.navigation__item {

    padding: 1.6rem 0;
    margin-left: 69px;
    /* padding: var(--oneTenth) var(--oneQuart); */
}

.navigation__item--active {
    /* font-weight: 900; */
    /* pointer-events: none; */
}

.navigation__link {
    display: block;
    /* padding: var(--oneTenth); */
    text-decoration: none;
    color: var(--color_dark);
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: -.5px;

}

.navigation__link:hover {
    /* border-bottom: 1px solid var(--color_black); */
}

.navigation__text {
    /* display: block; */
    /* font-size: .4rem; */
    /* line-height: 1; */
    /* text-align: center; */
}


/* header__menu > navigation*/

/* Logo */
.logo__img {
    display: block;
    width: 3.6rem;
    height: 3.6rem;
    position: relative;
}

.logo__img::after {
    content: 'a';

    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;

    font-size: 2.4rem;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;

    background-color: var(--color-accent);
    color: var(--color_white);
}

.logo__text {
    padding-left: 10px;
    padding-top: 0;
    font-size: 1.8rem;
    line-height: .8;
    font-family: var(--font_unique);
    word-spacing: -1.6px;
    letter-spacing: -1.5px;
}

.logo__text--bold {
    letter-spacing: -1px;
    font-weight: 600;
}

/* Main */
/* Content -----------------------block */
.content__row {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: .2rem;
    padding-right: .2rem;
    margin: 0;

}

/* Hero -----------------------section */
.hero__wrap {
    padding: 6rem 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.hero__content {
    flex-basis: 800px;
    box-sizing: border-box;
    padding: 3.6rem 1rem 1rem 3.6rem;
}

.hero__placement {
    /* position: absolute; */
}

.hero__placement--ave {
    /* left: 0; */
    /* right: 0; */
    /* bottom: 30.9%; */
    /* top: 48%; */
}

.hero__ave {
    /* padding: var(--oneFifth); */
}


.hero__block-avatar {
    padding: 2rem;
}



.hero__title {
    margin: 0;
    padding-top: 3rem;
    font-size: 1rem;
    font-family: var(--font_unique);
}

.hero__subtitle {
    text-transform: uppercase;
    padding: .2rem;
}

.hero__text {
    line-height: 2;
}

.hero__actions {
    /* padding-top: var(--oneHalf); */
}

/* Skill -----------------------section */
.skill {
    outline: 1px solid;
    padding: 62px 32px 0 30px;

}

.skill__title {
    position: relative;
    margin: 0;
    letter-spacing: 2px;
    padding: 1rem;
    line-height: .8;
}

.skill__title::before {
    content: '';
    display: block;
    width: 3rem;
    height: 8px;
    background: #c9c913;
    position: absolute;
    bottom: 0;
}

.skill__header {
    font-family: var(--font_unique);
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 3px;
}

.skill__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.skill__list-item {
    list-style-type: none;
    flex-basis: 50%;
}

/* Feature Card with Icon-----------------------component */
.feature-card {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding-top: 23px;
    padding-left: 96px;
}

.feature-card__icon {
    position: absolute;
    left: 0;
    display: block;
    width: 72px;
    height: 72px;
    background-color: #ccc;
}

.feature-card__title {
    margin: 0;
    padding: 1rem 0 12px 0;
    letter-spacing: 1px;
}

.feature-card__text {
    margin: 0;
    width: 100%;
    line-height: 1.8;
}

/* images */
.avatar {
    display: block;
    width: 480px;
}

/* Buttons */
.btn {
    /* reset */
    margin: 0;
    /* padding: 0; */
    /* border: none; */
    font: inherit;
    color: inherit;
    background: none;
}

/* Firefox fix - https://bugzilla.mozilla.org/show_bug.cgi?id=140562 */
button.btn::-moz-focus-inner {
    /* padding: 0; */
    /* border: none; */
}

/* We're using :-moz-focusring rather than :focus so that we
   don't change the default focus in other browsers. If you
   set your own focus styles for buttons, you might drop the
   :-moz-focusring part. */
/* button:-moz-focusring {
    outline: 1px dotted;
} */
button {}

.btn {
    cursor: pointer;
    padding: 1rem 2rem;
    border: 0.25rem solid;
    line-height: 1;
    border-radius: 2rem;
    font-size: 1.25rem;
    font-weight: 600;
}

.btn::after {
    /* content: ''; */
    /* display: block; */
    /* height: 4px; */
    /* width: 33px; */
    /* margin: 0 auto; */
    /* background-color: #ffffff99; */
}

.btn-ghost {
    /* display: none; */
}

/* Text */
.text--bold {
    /* font-weight: 600; */
}

.text__h1 {

    font-size: 4rem;
    line-height: 1;
    letter-spacing: 1px;
    word-spacing: -8px;
}



/* Footer */
.footer__wrap {
    /* pointer-events: none; */
    /* z-index: 999; */
    /* position: absolute; */
    /* top: 0; */
    /* left: 0; */
    /* bottom: 0; */
    /* right: 0; */
}

.footer__wrap::after {
    /* content: 'footer'; */
}




/*  */
/*  */
/*  */
/*  */
/*  */
.dev-scene {
    background-color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.dev-scene__container {
    position: relative;
}

.dev-scene__page-container {

    position: absolute;
    top: 118px;
    right: 106px;
    bottom: 76px;
    left: 115px;

    /* width: var(--page--width);
    height: var(--page--height); */
    /* transform: scale(1); */
    /* background-image: url(./img/markup-etalone-img.jpg); */
    /* background-size: cover; */
}

.dev-scene__image {
    position: relative;
    z-index: 9;
    display: block;
    opacity: 0.5;
    pointer-events: none;
    /* transform: scale(2); */
    width: 2141px;
}

.dev-mark:nth-last-child(odd) {
    outline: 1px solid #096d66;
    background-color: rgb(9 109 102 / 30%);
    ;
}

.dev-mark:nth-last-child(even) {
    outline: 1px solid crimson;
    background-color: rgb(237 20 61 / 20%);
    ;
}

.dev-scene__control {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 10px;
    width: 0;
}

.dev-scene__block-control {}